body {
  font-family: Arial, sans-serif;
  margin: 0px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: lightcoral;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

section {
  width: 60%;
  margin: 20px;
  padding: 20px;
  text-align: left;
}

body {
  background-color: #767676;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #44195e;
  border-bottom: 8px solid #fff;
}

header h1 {
  color: #fff;
  margin-top: 75px;
  font-size: 40px;
}

header h2 {
  color: #fff;
}

header nav ul {
  margin-bottom: 75px;
}

header nav ul li a {
  background-color: #767676;
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 16px;
}

header nav ul li a:hover {
  background-color: #fff;
  color: #767676;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 10px;
}

main section {
  background-color: #d8ddde;
  border: 8px solid #fff;
  border-radius: 10px;
  font-size: 18px;
  line-height: 35px;
}

main section h2 {
  text-align: center;
  font-size: 26px;
  background-color: #44195e;
  padding: 8px;
  border-radius: 10px;
  color: #fff;
}


/* css page echeancier.html et techno.html */

#patrick {
  background-color: #666;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#patrick header {
  background-color: #091747;
  border-bottom: 8px solid rgb(255, 239, 10);
}

#patrick header h1 {
  color: rgb(255, 239, 10);
  margin-top: 75px;
  font-size: 40px;
}

#patrick header nav ul {
  margin-bottom: 75px;
}

#patrick header nav ul li a {
  background-color: #666;
  color: rgb(255, 239, 10);
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 18px;
}

#patrick header nav ul li a:hover {
  background-color: rgb(255, 239, 10);
  color: #666;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 10px;
}

#patrick main section {
  background-color: #d8ddde;
  border: 8px solid rgb(255, 239, 10);
  border-radius: 10px;
  font-size: 18px;
  line-height: 35px;
}

#patrick main section h2 {
  text-align: center;
  font-size: 26px;
  background-color: #091747;
  padding: 8px;
  border-radius: 10px;
  color: rgb(255, 239, 10);
}