body {
  font-family: Arial, sans-serif;
  margin: 0px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: lightcoral;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

section {
  width: 60%;
  margin: 20px;
  padding: 20px;
  text-align: left;
}

#alessia {
  background-color: #666;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#alessia header {
  background-color: #8c271e;
  border-bottom: 8px solid #fff;
}

#alessia header h1 {
  color: #fff;
  margin-top: 75px;
  font-size: 40px;
}

#alessia header nav ul {
  margin-bottom: 75px;
}

#alessia header nav ul li a {
  background-color: #666;
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 18px;
}

#alessia header nav ul li a:hover {
  background-color: #fff;
  color: #666;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 10px;
}

#alessia main section {
  background-color: #d8ddde;
  border: 8px solid #fff;
  border-radius: 10px;
  font-size: 18px;
  line-height: 35px;
}

#alessia main section h2 {
  text-align: center;
  font-size: 26px;
  background-color: #8c271e;
  padding: 8px;
  border-radius: 10px;
  color: #fff;
}
